<h3>Listado</h3>
<form [formGroup]="marcaForm" (ngSubmit)="redirigir()">
  <div class="form-group row w-75">
    <label for="marcas" class="col-lg-3 col-12">Marca:</label>
    <select id="marcas" formControlName="marcas" class="col-lg-6 col-12" [value]='1'>
      <option [value]="marca.id" *ngFor="let marca of marcas">{{marca.nombre}}</option>
    </select>
    <button type="submit" class="btn btn-primary col-lg-3 col-12">Aceptar</button>
  </div>
</form>
<table class="table">
    <thead>
      <tr>
        <th style="width:45%" scope="col">Modelo</th>
        <th style="width:45%" scope="col">Matrícula</th>
        <th style="width:10%" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coche of coches">
        <td>{{coche.modelo}}</td>
        <td>{{coche.matricula}}</td>
        <td class="d-flex justify-content-around">
          <a [routerLink]="['/principal/lista', coche.marca.id]"><fa-icon class="text-success" [icon]="modificar"></fa-icon></a>
          <a [routerLink]="['/principal/lista', coche.marca.id]"><fa-icon class="text-danger" [icon]="borrar"></fa-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
<div class="w-75 text-center">
  <a (click)="subirFilenet()" class="btn btn-primary">Subir a Filenet</a>
</div>