<h3>Alta</h3>
<form [formGroup]="nuevoCoche" (ngSubmit)="nuevo()" class="container">
  <div class="form-group row w-50">
    <label for="marcas" class="col-lg-3 col-12">Marca:</label>
    <select id="marcas" formControlName="marcas" class="col-lg-9 col-12">
      <option [value]="marca.id" *ngFor="let marca of marcas">{{marca.nombre}}</option>
    </select>
  </div>
  <div class="form-group row w-50">
    <label for="modelo" class="col-lg-3 col-12">Modelo:</label>
    <input formControlName="modelo" type="text" class="form-control col-lg-9 col-12" id="modelo"
      aria-describedby="modelo" placeholder="Introduce el modelo">
  </div>
  <div  class="m-0" *ngIf="f.modelo.invalid && (f.modelo.dirty || f.modelo.touched)">
    <div *ngIf="f.matricula.errors">
      <span class="text-danger">La matrícula es requerida</span>
    </div>
  </div>
  <div class="form-group row w-50">
    <label for="matricula" class="col-lg-3 col-12">Matrícula:</label>
    <input formControlName="matricula" type="text" class="form-control col-lg-9 col-12" id="matricula"
      placeholder="Introduce la matrícula">
  </div>
  <div class="m-0" *ngIf="f.matricula.invalid && (f.matricula.dirty || f.matricula.touched)">
    <div *ngIf="f.matricula.errors">
      <span class="text-danger">La matrícula es requerida y debe ser de cuatro números, espacio, 3 o 2 letras (sin
        vocales)</span>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary px-5">Aceptar</button>
  </div>

</form>
