app-header {
    height: 20vh;
}

main {
    height: 80vh;
}

app-lista-links {
    width: 25%!important;
}

@media (max-width: 767px) {
    app-lista-links { width: 100%!important }
}

.router {
    background-color: #F2F2F2;
    border: 1px solid #6F91BC;
    height: 80vh;
    width: 75%!important;
}

@media (max-width: 767px) {
    .router { width: 100%!important }
}