<aside class="pl-3 pt-3">
    <ul class="nav flex-column">
        <li class="nav-item py-0">
          <a class="nav-link text-dark" [routerLink]="'/principal/nuevo'">Alta Coche</a>
        </li>
        <li class="nav-item py-0">
          <a class="nav-link text-dark" [routerLink]="['/principal/lista', 1]">Listado Coches</a>
        </li>
        <li class="nav-item py-0">
          <a class="nav-link text-dark" style="cursor: pointer;" (click)="logout()">Log Out</a>
        </li>
      </ul>
</aside>
